@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vb2r15');
  src:  url('../fonts/icomoon.eot?vb2r15#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vb2r15') format('truetype'),
    url('../fonts/icomoon.woff?vb2r15') format('woff'),
    url('../fonts/icomoon.svg?vb2r15#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e907";
  color: #25d366;
}
.icon-twitter:before {
  content: "\e902";
  color: #1da1f2;
}
.icon-instagram:before {
  content: "\e904";
  color: #e4405f;
}
.icon-facebook:before {
  content: "\e903";
  color: #1877f2;
}
.icon-envelope-o:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e905";
}
.icon-tablet:before {
  content: "\e905";
}
.icon-mobile:before {
  content: "\e905";
}
.icon-location:before {
  content: "\e908";
}
.icon-map:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e906";
}
html{
  font-size: 62.5%;
  font-family: 'open sans';
}
body{
  max-width: 1366px;
  margin: auto;
}
.containerHeader1 .contactosHeader{
  display: flex;
  justify-content: space-between;
  background-color: #1b1b1d;
}
.containerHeader1 .contactosHeader h3{
  font-size: 1.4rem;
  margin: 10px 10px;
  color: #00a776;
}
.containerHeader2{
  display: flex;
  justify-content: space-between;
}
.containerHeader2 figure img {
  width: 100%;
  margin: -28px auto;
}
.containerHeader2 figure {
  width: 250px;
}
.navegacion{
  display: flex;
  align-items: flex-end;
  margin-right: 3rem;
  
}
.navegacion .menu ul{
  display: flex;
}
.navegacion .menu ul li{
  margin: auto 20px;
  list-style: none;
  font-size: 1.6rem;
}
.navegacion .menu ul a{
  color: #091e3f;
  text-decoration: none;
}
.navegacion2{
  display: none;
}
.navegacion .menu ul li a:hover{
  color:#00a776; ;
  }
.contactosHeader i{
  color: #00a776;
  }
  .contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  }
.hero figure{
  margin: 0;
}
.hero figure img{
  width: 100%;
}
main .titulo{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
main h1{
  text-align: center;
  font-size: 4.8rem;
  font-weight: 800;
  color: #333333;
}
main .titulo{
  font-size: 5rem;
  font-family:'changa';
  color: #27304b;
  display: flex;
  justify-content: center;
 
}
main .titulo h2{
  margin: 0;
}
main .videos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  row-gap: 0;
  width: 80%;
  margin: 0 auto 10rem auto;
  font-family: 'changa';

}

main .videos .video{
  text-align: center;
  font-size: 1.8rem;
  color: #f15e42;
}
.responsiveContent {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;

}
.responsiveContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
  footer{

    background-color: #434f53;
  }
.container-footer{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
}
.container-footer .contactos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 1.6rem;
 
}
footer .about-us{
  width: 70%;
}
footer .about-us h3{
  color: white;
  font-size: 2rem;
}
footer .about-us p{
  color: #b7b6b4;
  font-size: 1.6rem;
}
footer .about-us{
  width: 70%;
}
footer .about-us h3{
  color: white;
  font-size: 2rem;
}
footer .about-us p{
  color: #b7b6b4;
  font-size: 1.6rem;
}
footer .contactos .direccion:nth-child(3) p{
  margin-top: 0;
}
footer .alianzas{
  display: grid;
  grid-template-columns: 200px 200px;
  align-items: center;
}
footer .alianzas figure{
  width: 100%;

}
footer .alianzas figure img{
  width: 100%;}
.burger-button{
  display: none;
  width: 4rem;
   height: 4rem;
   border-radius: 0;
   background :  #00a776;
   line-height: 4rem;
   text-align: center;
   position: fixed;
   color: white;
   border-radius: 50%;
   font-size: 1.6rem;
   margin: 0.3rem 0 0 0.3rem;
   z-index: 3;
 }

@media screen and (max-width:1024px){
  .formulario{
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
  }
  footer .about-us{
    display: none;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
  footer .alianzas figure{
    margin: 0;
  }

 }
 
 @media screen and (max-width:800px){
   .hero  img{
     height: 40vh;
   }
   .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
 }
 @media screen and (max-width:777px){
 
   .containerHeader2 figure{
     display: none;
   }
   .containerHeader1 .contactosHeader{
     justify-content: center;
   }
   .ubicacion{
     display: none;
   }
 }
 @media screen and (max-width:667px){
   .burger-button{
     display: block;
    }
   .navegacion{
     display: none;
   }
   .navegacion2{
     display: block;
   }
   .navegacion .menu ul li a:hover{
    color:white; ;
    }
   .navegacion2 nav{
     display: flex;
     justify-content: center;
     text-align: center;
     position: fixed;
     background: rgba(0, 167, 118, .8);
     z-index: 2;
     width: 100%;
     height: 100%;
     align-items: center;
     left: -100vw;
     transition: .3s;
   }
   .navegacion2 nav ul{
   list-style: none;
   flex-direction: column;
 
 }
 .navegacion nav ul li{
   margin-top: 5rem!important;
 
 }
 .navegacion2 nav.is-active{
   left: 0vw;
 }
 .containerHeader2 figure{
   display: flex;
   margin: auto;
 }

}
 @media screen and (max-width:667px){
 
 footer .about-us{
   display: none;
 }
 
 main .videos{

   grid-template-columns: 1fr;
  }
 }
 @media screen and (max-width:480px){
 
   .proyectos .partes-proyectos{
     width: 100%;
   }

 }